# Default ignored files
/.idea/
# Datasource local storage ignored files
/../../../../:\PycharmProjects\Graphes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/venv/
